* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #00E6F4;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
}


h1 {
    margin-top: 0;
    font-size: 30px;
    text-decoration: underline;
} 
#header-text {
    margin-right: 20px;
    font-size: 1.7vh;
    font-style: italic;
}

.heading {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background: #C7FB86;
    text-align: center;
}

.content-container {
    padding: 10px;
    background-color: #00E6F4;
    height: 100vh;
}

.image-handler-container {
    /* position: fixed; */
    float: left;
    background-color: #C7FB86;
    padding: 50px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lower-content-container {
    display: flex;
}

.images {
    justify-content: center;
}

.photographer {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
}

.form {
    margin-top: 40px;
}


.wrapper {
    position: relative;
}

#email {
    border: none;
    height: 40px;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
}

label {
    font-size: 16px;
    text-align: left;
}

#hidden-warning, .exclamation, #duplicate-image-warning {
    display: none;
    color: #981616;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}

.exclamation {
    padding-right: 5px;
}

#hidden-correct {
    display: none;
}

.correct {
    color: #014D00;
    font-size: 15px;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 20%;
    margin-top: 15px;
}

#picture-btn {
    height: 60px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #00E6F4;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#picture-btn:hover {
    transition: 0.2s ease-in;
    background-color: #00CCCC;
}

#submit-btn {
    height: 60px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #00E6F4;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#submit-btn:hover {
    transition: 0.2s ease-in;
    background-color: #00CCCC;
}

.image-and-email-flex {
    /* display: flex;
    flex-wrap: wrap; */
    height: 100%;
    gap: 10%;
    width: 100%;
    background-color: #00E6F4;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

#image-and-email {
    margin-bottom: 10px;
    width: 100%;
    background-color: #C7FB86;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#array-image {
    height: 120px;
    width: 120px;
    padding: 5px;
    border: 3px solid black;
    margin-right: 2px;
    background: #00E6F4;
    border-radius: 5px;
}


#array-p {
    text-decoration: underline;
    font-style: bold;
    font-size: 20px;
}



@media (max-width: 800px) {
    .lower-content-container {
        flex-wrap: wrap;
    }
    .image-and-email-flex {
        margin-top: 10px;
    }
    .image-handler-container {
        width: 100%;
        margin-right: 0;
        padding: 10px;
        text-align: center;
    }
    .buttons {
        justify-content: center;
        gap: 8%;
    }
}   

@media (min-width: 801px) {
    .image-handler-container {
        position: fixed;
    }
    .image-and-email-flex {
        margin-left: 425px;
    }
    .correct {
        position: absolute;
        left: 92%;
        top: 13px;
    }
    .content-container {
        margin-right: 25px;
        margin-left: 25px;
    }
}

@media (min-width: 1200px) {
    #image-and-email {
        width: 100% !important;
    }
    .image-and-email-flex {
        gap: 5%;
    }
    .content-container {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media (min-width: 1500px) {
    #image-and-email {
        width: 47% !important;
    }
    .image-and-email-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
}

/* @media (max-width: 1200px) {
    .image-and-email-flex {
        display: flex;
        flex-wrap: wrap;
    }
} */