* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #94baf7;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
}


h1 {
    margin-top: 0;
    font-size: 2.4vh;
} 
p {
    margin-right: 20px;
    font-size: 1.7vh;
}

.heading {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.content-container {
    padding: 10px;
    text-align: center;
    background-color: #94baf7;
    height: 100vh;
}

.image-handler-container {
    position: fixed;
    background-color: #74a8fc;
    padding: 10px;
    border: 2px black solid;
}

.images {
    justify-content: center;
}

.photographer {
    display: block;
    color: black;
    font-weight: bold;
}

#picture-btn {
    height: 60px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

#submit-btn {
    height: 60px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    border: 1px solid red;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email {
    border: 2px solid black;
    height: 40px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    background-color: white;
    color: black;
}

label {
    font-size: 18px;
}

#hidden-warning, .exclamation {
    display: none;
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.exclamation {
    padding-right: 5px;
}

#hidden-correct {
    display: none;
}

.correct {
    padding-left: 5px;
    color: green;
    font-size: 15px;
}

.image-and-email-flex {
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    width: 65%;
    background-color: #2382A1;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 2px solid crimson;
}

#image-and-email {
    /* display: none; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px white solid;
    background-color: #f7d193;
    border-radius: 5px;
    padding: 5px;
}

#array-image {
    height: 120px;
    width: 120px;
    padding: 5px;
    border: 3px solid blue;
    margin-right: 2px;
    background: gold;
    border-radius: 5px;
}


#array-p {
    text-decoration: underline;
    font-style: bold;
    font-size: 20px;
}

/* @media (max-width: 992px) {
    .image-and-email-flex {
        display: block;
    } 
} */

@media (max-width: 767px) {
    .image-and-email {
        width: 100%;
    }
}