* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #00E6F4;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
}


h1 {
    margin-top: 0;
    font-size: 30px;
    text-decoration: underline;
} 
#header-text {
    margin-right: 20px;
    font-size: 1.7vh;
    font-style: italic;
}

.heading {
    border: 2px solid black;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    background: #C7FB86;
}

.content-container {
    padding: 10px;
    text-align: center;
    background-color: #00E6F4;
    height: 100vh;
}

.image-handler-container {
    /* position: fixed; */
    float: left;
    background-color: #C7FB86;
    padding: 10px;
    border: 2px black solid;
    width: 400px;
    margin-right: 10px;
}

.lower-content-container {
    display: flex;
}

.images {
    justify-content: center;
}

.photographer {
    display: block;
    color: black;
    font-weight: bold;
}

#picture-btn {
    height: 60px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #00E6F4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
}

#submit-btn {
    height: 60px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: #00E6F4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#email {
    border: 2px solid black;
    height: 40px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    background-color: white;
    color: black;
}

label {
    font-size: 18px;
}

#hidden-warning, .exclamation {
    display: none;
    color: #981616;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}

.exclamation {
    padding-right: 5px;
}

#hidden-correct {
    display: none;
}

.correct {
    color: #014D00;
    font-size: 15px;
}

.image-and-email-flex {
    /* display: flex;
    flex-wrap: wrap; */
    height: 100%;
    gap: 10%;
    width: 100%;
    background-color: #00E6F4;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
}

#image-and-email {
    margin-bottom: 10px;
    width: 100%;
    border: 2px black solid;
    background-color: #C7FB86;
    border-radius: 5px;
    padding: 5px;
}

#array-image {
    height: 120px;
    width: 120px;
    padding: 5px;
    border: 3px solid black;
    margin-right: 2px;
    background: #00E6F4;
    border-radius: 5px;
}


#array-p {
    text-decoration: underline;
    font-style: bold;
    font-size: 20px;
}



@media (max-width: 800px) {
    .lower-content-container {
        flex-wrap: wrap;
    }
    .image-and-email-flex {
        margin-top: 10px;
    }
    .image-handler-container {
        width: 100%;
        margin-right: 0;
    }
}   

@media (min-width: 801px) {
    .image-handler-container {
        position: fixed;
    }
    .image-and-email-flex {
        margin-left: 425px;
    }
    .correct {
        position: absolute;
        left: 70%;
        top: 13px;
    }
}

@media (min-width: 1200px) {
    #image-and-email {
        width: 47.5% !important;
    }
    .image-and-email-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
}

@media (min-width: 1500px) {
    #image-and-email {
        width: 30% !important;
    }
}

/* @media (max-width: 1200px) {
    .image-and-email-flex {
        display: flex;
        flex-wrap: wrap;
    }
} */